@tailwind base;
@tailwind components;
@tailwind utilities;

.typewriter {
	border-right: 0.15em solid #f4a261;
	animation: blink-caret 1s step-end infinite;
}

@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: #f4a261;
	}
}
